extends layout
block content
    header.w3-container.w3-indigo
        h3(align='center') Visualizador dados em gráficos
    .w3-container
        form.w3-container(id='chartForm')
            fieldset
                legend.w3-teal Escolher parâmetros de gráfico
                label.w3-blue
                    b Ip do Agente
                input.w3-input.w3-border.w3-light-grey(type='text' id='ipAgente' name='ipAgente')
                label.w3-blue
                    b Porta que o Agente escuta
                input.w3-input.w3-border.w3-light-grey(type='text' id='portaAgente' name='portaAgente')
                label.w3-blue
                    b Data mínima de consulta
                input.w3-input.w3-border.w3-light-grey(type='date' id='data' name='data')
                label.w3-blue
                    b Forma de apresentação da diferença de octetos
                select.w3-select.w3-border(id='tempUnit' name = 'tempUnit')
                    option(value='1') Média de diferença de octetos por dia
                    option(value='2') Média de diferença de octetos Por hora
                    option(value='3') Diferença de octetos por Consulta
                br
                label.w3-blue
                    b Interface que pretende obter informação
                input.w3-input.w3-border.w3-light-grey(type='text' id='ifIndex' name='ifIndex')
                label.w3-blue
                    b Tipo de informação no gráfico
                select.w3-select.w3-border(id='tipoInfo' name='tipoInfo')
                    option(value='1') Ver evolução da diferença média de octetos
                    option(value='2') Ver polling Time atual de cada interface
                br
                br
                button.w3-btn.w3-indigo(id='drawChart') Desenhar Gráfico
    br
    hr.w3-indigo
    a.w3-text-red(href='http://localhost:3000') Voltar à página principal
    br
    hr.w3-indigo
    br
    canvas(id='chart' width='700' height='350')